<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>DTCompiler</key>
    <string>com.apple.compilers.llvm.clang.1_0</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>DTPlatformVersion</key>
    <string>10.0</string>
    <key>CFBundleName</key>
    <string>UC</string>
    <key>DTSDKName</key>
    <string>iphoneos10.0</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>方便为您提供图片管理等相关服务</string>
    <key>CFBundleIcons</key>
    <dict>
      <key>CFBundlePrimaryIcon</key>
      <dict>
        <key>CFBundleIconFiles</key>
        <array>
          <string>AppIcon60x60</string>
        </array>
      </dict>
    </dict>
    <key>LSRequiresIPhoneOS</key>
    <false/>
    <key>UIRequiresPersistentWiFi</key>
    <true/>
    <key>LSApplicationQueriesSchemes</key>
    <array>
      <string>tmall</string>
      <string>taobao</string>
      <string>alipay</string>
      <string>pphelperNS</string>
      <string>weixin</string>
      <string>wechat</string>
      <string>mqqapi</string>
      <string>mqqopensdkapiV2</string>
      <string>mqq</string>
      <string>sinaweibosso</string>
      <string>sinaweibohdsso</string>
      <string>tbopen</string>
      <string>duoping</string>
      <string>iosamap</string>
      <string>lb</string>
      <string>bdboxiosqrcode</string>
      <string>sms</string>
      <string>ucweb</string>
      <string>snssdk251</string>
      <string>snssdk201</string>
      <string>qihoobrowser</string>
      <string>bdbrowser</string>
      <string>flipboard</string>
      <string>mqzone</string>
      <string>youku</string>
      <string>sinaweibo510</string>
      <string>alipass</string>
      <string>QQ14AC1032</string>
      <string>wxa552e31d6839de85</string>
      <string>momochatsdk</string>
      <string>mttbrowser</string>
      <string>qqnews</string>
      <string>zakeriphone</string>
      <string>sinanews</string>
      <string>wb1541190339</string>
      <string>snssdk141</string>
      <string>wx9e7c5b4d56394093</string>
      <string>tencent100378347</string>
      <string>pphelper-share</string>
      <string>wxff60c71e806d4328</string>
      <string>LanternWiFi</string>
      <string>ppbrowserdef</string>
      <string>ucnews</string>
      <string>dingtalk</string>
      <string>dingtalk-open</string>
    </array>
    <key>CFBundleDisplayName</key>
    <string>UC</string>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>方便为你提供本地新闻和天气信息，并且根据您的位置信息发现附近的免费WiFi</string>
    <key>UIBackgroundModes</key>
    <array>
      <string>audio</string>
      <string>fetch</string>
      <string>remote-notification</string>
    </array>
    <key>UIApplicationShortcutWidget</key>
    <string>com.ucweb.iphone.lowversion.UCWidget</string>
    <key>DTSDKBuild</key>
    <string>14A345</string>
    <key>NSCameraUsageDescription</key>
    <string>方便为您提供二维码扫描服务</string>
    <key>CFBundleShortVersionString</key>
    <string>11.4.6</string>
    <key>CFBundleSupportedPlatforms</key>
    <array>
      <string>iPhoneOS</string>
    </array>
    <key>UISupportedInterfaceOrientations</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
      <string>UIInterfaceOrientationLandscapeLeft</string>
      <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    <key>BuildMachineOSBuild</key>
    <string>16C67</string>
    <key>DTPlatformBuild</key>
    <string>14A345</string>
    <key>UIFileSharingEnabled</key>
    <false/>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleDevelopmentRegion</key>
    <string>zh_CN</string>
    <key>MinimumOSVersion</key>
    <string>7.0</string>
    <key>CFBundleVersion</key>
    <string>11.4.6.928</string>
    <key>UIPrerenderedIcon</key>
    <true/>
    <key>UIStatusBarHidden</key>
    <true/>
    <key>DTXcodeBuild</key>
    <string>8A218a</string>
    <key>UILaunchImages</key>
    <array>
      <dict>
        <key>UILaunchImageSize</key>
        <string>{414, 736}</string>
        <key>UILaunchImageName</key>
        <string>LaunchImage-800-Portrait-736h</string>
        <key>UILaunchImageMinimumOSVersion</key>
        <string>8.0</string>
        <key>UILaunchImageOrientation</key>
        <string>Portrait</string>
      </dict>
      <dict>
        <key>UILaunchImageSize</key>
        <string>{414, 736}</string>
        <key>UILaunchImageName</key>
        <string>LaunchImage-800-Landscape-736h</string>
        <key>UILaunchImageMinimumOSVersion</key>
        <string>8.0</string>
        <key>UILaunchImageOrientation</key>
        <string>Landscape</string>
      </dict>
      <dict>
        <key>UILaunchImageSize</key>
        <string>{375, 667}</string>
        <key>UILaunchImageName</key>
        <string>LaunchImage-800-667h</string>
        <key>UILaunchImageMinimumOSVersion</key>
        <string>8.0</string>
        <key>UILaunchImageOrientation</key>
        <string>Portrait</string>
      </dict>
      <dict>
        <key>UILaunchImageSize</key>
        <string>{320, 480}</string>
        <key>UILaunchImageName</key>
        <string>LaunchImage-700</string>
        <key>UILaunchImageMinimumOSVersion</key>
        <string>7.0</string>
        <key>UILaunchImageOrientation</key>
        <string>Portrait</string>
      </dict>
      <dict>
        <key>UILaunchImageSize</key>
        <string>{320, 568}</string>
        <key>UILaunchImageName</key>
        <string>LaunchImage-700-568h</string>
        <key>UILaunchImageMinimumOSVersion</key>
        <string>7.0</string>
        <key>UILaunchImageOrientation</key>
        <string>Portrait</string>
      </dict>
    </array>
    <key>UIDeviceFamily</key>
    <array>
      <integer>1</integer>
    </array>
    <key>NSMicrophoneUsageDescription</key>
    <string>方便为您提供语音搜索服务</string>
    <key>CFBundleIdentifier</key>
    <string>com.ucweb.iphone.lowversion</string>
    <key>DTXcode</key>
    <string>0800</string>
    <key>NSLocationUsageDescription</key>
    <string>开启定位以获取你所在的城市</string>
    <key>NSAppTransportSecurity</key>
    <dict>
      <key>NSAllowsArbitraryLoads</key>
      <true/>
    </dict>
    <key>CFBundleExecutable</key>
    <string>UCWEB</string>
    <key>CFBundleIcons~ipad</key>
    <dict/>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>DTPlatformName</key>
    <string>iphoneos</string>
    <key>Bundle build time</key>
    <string>2010-11-02</string>
    <key>CFBundleURLTypes</key>
    <array>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLName</key>
        <string>com.ucweb.iphone</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>ucbrowser</string>
          <string>ucweb-app</string>
          <string>ucweb-appstore</string>
          <string>wx020a535dccd46c11</string>
          <string>tencent100468196</string>
          <string>tbopen23015444</string>
          <string>tbopen1023015444</string>
          <string>dingoa7vrlztr4tnrfenyk</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLName</key>
        <string>UCBrowser</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>UCBrowser</string>
        </array>
      </dict>
    </array>
  </dict>
</plist>
