<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIRequiredDeviceCapabilities</key>
	<dict>
	</dict>
	<key>appleWatchEnabled</key>
	<true/>
	<key>artistId</key>
	<integer>726037046</integer>
	<key>artistName</key>
	<string>UCWeb Mobile Private Limited</string>
	<key>bundleDisplayName</key>
	<string>UC</string>
	<key>bundleShortVersionString</key>
	<string>11.4.6</string>
	<key>bundleVersion</key>
	<string>11.4.6.928</string>
	<key>copyright</key>
	<string>Copyright © 2015 UCWeb Inc.</string>
	<key>fileExtension</key>
	<string>.app</string>
	<key>gameCenterEnabled</key>
	<false/>
	<key>gameCenterEverEnabled</key>
	<false/>
	<key>genre</key>
	<string>News</string>
	<key>genreId</key>
	<integer>6009</integer>
	<key>itemName</key>
	<string>UC 浏览器-个性化推荐新闻小说视频浏览器</string>
	<key>kind</key>
	<string>software</string>
	<key>playlistName</key>
	<string>UCWeb Mobile Private Limited</string>
	<key>product-type</key>
	<string>ios-app</string>
	<key>rating</key>
	<dict>
		<key>content</key>
		<string>Advisory.NO.GAMBLING_CONTESTS , Frequent/Intense Sexual Content or Nudity and Unrestricted Web Access</string>
		<key>label</key>
		<string>17+</string>
		<key>rank</key>
		<integer>600</integer>
		<key>system</key>
		<string>itunes-games</string>
	</dict>
	<key>releaseDate</key>
	<string>2013-01-05T08:00:00Z</string>
	<key>s</key>
	<integer>143465</integer>
	<key>softwareIcon57x57URL</key>
	<string>http://a41.phobos.apple.com/us/r30/Purple122/v4/5e/5e/b9/5e5eb950-704d-1b7f-3cd9-df1f42188c9a/icon114x114.png</string>
	<key>softwareIconNeedsShine</key>
	<false/>
	<key>softwareSupportedDeviceIds</key>
	<array>
		<integer>2</integer>
		<integer>9</integer>
		<integer>4</integer>
	</array>
	<key>softwareVersionBundleId</key>
	<string>com.ucweb.iphone.lowversion</string>
	<key>softwareVersionExternalIdentifier</key>
	<integer>820591927</integer>
	<key>softwareVersionExternalIdentifiers</key>
	<array>
		<integer>12981046</integer>
		<integer>85553230</integer>
		<integer>104232656</integer>
		<integer>193052660</integer>
		<integer>371362639</integer>
		<integer>424782704</integer>
		<integer>534592828</integer>
		<integer>571592632</integer>
		<integer>596392641</integer>
		<integer>608093501</integer>
		<integer>620652655</integer>
		<integer>655282651</integer>
		<integer>672212673</integer>
		<integer>709222672</integer>
		<integer>722442774</integer>
		<integer>745844005</integer>
		<integer>768682933</integer>
		<integer>810823725</integer>
		<integer>811450521</integer>
		<integer>811633849</integer>
		<integer>811778105</integer>
		<integer>812021068</integer>
		<integer>812043814</integer>
		<integer>812101898</integer>
		<integer>812211079</integer>
		<integer>812292489</integer>
		<integer>812330777</integer>
		<integer>812384554</integer>
		<integer>812506712</integer>
		<integer>812746312</integer>
		<integer>812916355</integer>
		<integer>813088087</integer>
		<integer>813290052</integer>
		<integer>813467528</integer>
		<integer>813512504</integer>
		<integer>813525459</integer>
		<integer>813819687</integer>
		<integer>813860886</integer>
		<integer>813883702</integer>
		<integer>814089676</integer>
		<integer>814289083</integer>
		<integer>814450049</integer>
		<integer>814527593</integer>
		<integer>814552153</integer>
		<integer>814786732</integer>
		<integer>814844535</integer>
		<integer>815429340</integer>
		<integer>815671102</integer>
		<integer>815881758</integer>
		<integer>816031165</integer>
		<integer>816097434</integer>
		<integer>816384552</integer>
		<integer>816579516</integer>
		<integer>816681931</integer>
		<integer>816742818</integer>
		<integer>816854843</integer>
		<integer>816933365</integer>
		<integer>817076336</integer>
		<integer>817255791</integer>
		<integer>817353985</integer>
		<integer>817658501</integer>
		<integer>817684201</integer>
		<integer>817835024</integer>
		<integer>817941665</integer>
		<integer>818193130</integer>
		<integer>818475215</integer>
		<integer>818577897</integer>
		<integer>818689467</integer>
		<integer>819230010</integer>
		<integer>819305839</integer>
		<integer>819757528</integer>
		<integer>819931086</integer>
		<integer>820127049</integer>
		<integer>820261302</integer>
		<integer>820334742</integer>
		<integer>820591927</integer>
	</array>
	<key>vendorId</key>
	<integer>10574270</integer>
	<key>drmVersionNumber</key>
	<integer>0</integer>
	<key>versionRestrictions</key>
	<integer>16843008</integer>
	<key>storeCohort</key>
	<string>5|date=1476003600000&amp;sf=143465</string>
	<key>aiBuy</key>
	<true/>
	<key>aiString</key>
	<string>586871187-7</string>
</dict>
</plist>
